/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --theme-color: #424242;
    --text-color: rgb(224, 224, 224);

}
.container{
    @apply container mx-auto flex-1
}
.logo-brand{
    @apply flex gap-2 items-center
}
.brand{
    @apply font-extrabold text-xl
}
.navbar{
    @apply shadow-md h-12 flex items-center gap-2 rounded-lg mt-1 ml-1 mr-1;
    background-color: var(--theme-color);
    color: var(--text-color)
}

.logo{
    @apply w-8 h-8
}

.link{
    @apply flex-1 pl-6;
    cursor: pointer;
}
